<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorize</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
<h1>Lossa 的授权验证平台</h1>
<form method="post" action="/token">
    <label>
        用户名：
        <input type="text" name="username">
    </label>
    <label>
        密码：
        <input type="password" name="password">
    </label>
    <button type="submit">登录</button>
</form>
</body>
</html>
