{% extends "index.html" %}


{% block title %}
registered
{% endblock %}


{% block content %}

<h1>Welcome to the registration page</h1>
<form>
  <div>
    <label>
      <span>用户名</span>
      <input name="username" type="text">
    </label>
  </div>
  <div>
    <label>
      <span>密码</span>
      <input name="password" type="text">
    </label>
  </div>
  <div>
    <label>
      <span>Repeat the password</span>
      <input name="rePassword" type="text">
    </label>
  </div>
  <button type="submit" formmethod="post" formaction="/user">注册</button>
</form>

{% endblock %}
