{% extends "index.html" %}


{% block title %}
Application
{% endblock %}


{% block content %}
<h1>new Application page</h1>

{% include "./menu.html" %}
<form>
  <div>
    <label>
      <span>Application Name</span>
      <input name="clientName" type="text">
    </label>
  </div>
  <div>
    <label>
      <span>description</span>
      <textarea name="description"></textarea>
    </label>
  </div>
  <div>
    <label>
      <span>redirect uri</span>
      <input name="redirectUri" type="text">
    </label>
  </div>
  <button type="submit" formmethod="post" formaction="/client">Create an app</button>
</form>

{% endblock %}
