{% extends "index.html" %}

{% block title %}
My apps
{% endblock %}

{% block content %}
<h1>Application details page</h1>

{% include "./menu.html" %}

<div> id:{{client.id}}</div>
<div> secret:{{client.clientSecret}}</div>
<div> accessTokenLifetime: {{client.accessTokenLifetime}}</div>
<div>refreshTokenLifetime: {{client.refreshTokenLifetime}}</div>
<form>

  <div>
    <label>LOGO
      <img id="preview" src="{{client.logo}}" alt="LOGO">
      <input type="file" name="logo" accept="image/*" onchange="previewLogo(event)">
    </label>
  </div>
  <div>
    <label>name:
      <input type="text" value="{{client.clientName}}"/>
    </label>

  </div>
  <div>
    <label>redirectUris：
      <input type="text" value="{{client.redirectUris}}"/>
    </label>

  </div>
  <div>
    <label>description:
      <textarea rows="4">{{client.description}}</textarea>
    </label>

  </div>
  <button onclick="put()">Save changes</button>
</form>

<script>
  function put () {
    const logo =
    fetch('/client/{{client.id}}', {
      method: 'PUT',
      body: {}
    })
      .then(res => {
        console.log(res)
      })
  }

  function previewLogo (event) {
    const previewDom = document.querySelector('#preview')
    previewDom.src = URL.createObjectURL(event.target.files[0])
  }
</script>

{% endblock %}
