html, body {
    box-sizing: border-box;
    background: antiquewhite;
}

header {
    background: cadetblue;
    height: 72px;
}

header > .logo {
    display: inline-block;
}

header > .logo > img {
    width: 60px;
    height: 60px;
}

header > .user-information {
    display: inline-block;
}

header > .user-information img {
    width: 60px;
    height: 60px;
}

label > span {
    min-width: 80px;
    display: inline-block;
}

img {
    max-width: 80px;
    max-height: 80px;
}
